# Personnalized ignore :
*Copy*
*python.ipynb

.vscode
.idea

.ipynb_checkpoints

*.py
*.pyc
*.so
*.dll

*.db
*.TMP
*.html
*.csv
*.csv#
*.pdf

*.jpg
*.jpeg
*.png
*.ppm
*.tif
*.tiff
*.gif
*.gz
*.ini


*.pkl
*.pickle

*.RDS
*.Rhistory

# saved models
*.pth
# logs
runs/